.w3l-bottom-grids-6 .bottom-grids-info {
    background: #fff;
  }
  
  .w3l-bottom-grids-6 p {
    color: #8C8C8C;
  }
  
  .w3l-bottom-grids-6 .about-gd-inn h5 {
    color: #141414;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }
  
  .w3l-bottom-grids-6 .about-gd-inn h5 a {
    color: #233142;
  }
  
  .w3l-bottom-grids-6 .about-gd-inn h5 a:hover {
    color: #ff5959;
    transition: all .3s;
  }
  
  .w3l-bottom-grids-6 span.fa.icon-fea1 {
    color: #DB162F;
    font-size: 30px;
    margin-bottom: 20px;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: #f9e3e6;
    text-align: center;
    line-height: 74px;
  }
  
  .w3l-bottom-grids-6 .about-gd-inn:hover span.fa.icon-fea1 {
    color: #006989;
    transition: all .3s;
    background: #E5F9FF;
  }
  
  @media all and (max-width: 640px) {
    .w3l-bottom-grids-6 .img-one.content-mid h3 {
      margin-bottom: 0;
    }
  }
  